* {
    box-sizing: border-box;  

  }

  ,navbar {
      color:    blue;
  }


  body {
    background-image: url("https://d2v9y0dukr6mq2.cloudfront.net/video/thumbnail/passing-blue-sky-clouds-timelapse_wkxm3dxws__F0000.png");
    
  }

 
  .container {
    background-image: url("http://www.minddisorders.com/photos/brain-912.jpg");
    
    width: 500px;
    height: auto;
    z-index: 1;

    
  } 

  p {
    text-align: center;
      background-color: white;
  }

