* {
    box-sizing: border-box;  

  }


  body {
    background-image: url("https://d2v9y0dukr6mq2.cloudfront.net/video/thumbnail/passing-blue-sky-clouds-timelapse_wkxm3dxws__F0000.png");
    
  }

 
  .container {
    width: 500px;
    height: auto;
    
  }

    #box {
        background-image: url("http://www.minddisorders.com/photos/brain-912.jpg");
    }

    h1 {
        background: black;
        color: blue;
    }

    h2 {
        color: yellow;
    }
  

  p {
    text-align: center;
      background-color: white;
  }

